{{!-- <div class="col-md-3">
  <div class="card">
    <img src="https://via.placeholder.com/300" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{book.book_name}}</h5>
      <p class="card-text">{{book.author}}</p>
      <a
        href="http://localhost:3001/homepage/{{book.id}}"
        class="btn btn-secondary"
      >More Info</a>
    </div>
  </div>
</div>
 --}}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 image-api" id={{book.isbn}}>
       <img
        src='https://covers.openlibrary.org/b/isbn/{{book.isbn}}-L.jpg'
        class="img-fluid"
        alt="Product Image"
      /> 
    </div>
    <div class="col-md-6">
      <h2>{{book.book_name}}</h2>
      <h4>{{book.author}}</h4>
      <h4 class="bookId">ISBN-10: {{book.isbn}}</h4>
      <h3>Book Id:{{book.id}}</h4>
      <div class="book-description" id={{book.book_name}}>
        <div class="book-description2" id={{book.isbn}}>
        </div>
      </div>
      <h5 class="text-muted">${{book.price}}</h5>
      <h5 class="text-muted">Stock: {{book.stock}}</h5>
      <button type="button" class="btn btn-secondary add-to-cart" data-id={{book.id}}>Add to Cart</button>
    </div>
  </div>
</div>

<script src="/js/singleBookImage.js"></script>
<script src="/js/handleAddToCart.js"></script>

