{{!-- {{#each book as |book|}}
{{> product-details}}
{{/each}} --}}
<section class="hero-image">
  <div class="container">
    <div class="hero-text">
      <h1 style="text-shadow: 3px 3px 0px #000;">Book Nook</h1>
      <h3 style="text-shadow: 3px 3px 0px black;">Find your cozy corner of the
        literary world at Book Nook.</h3>
    </div>
  </div>
</section>
{{#if genre}}
{{genre}}
{{/if}}


{{!-- UPDATED CARD LAYOUT --}}
<div class="container mt-5">
  <div class="row">
    <div class="card-group">
      {{#each (slice books 0 4) as |book|}}

      <div class="card mx-1">
        <img src="https://via.placeholder.com/300" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{book.book_name}}</h5>
          <p class="card-text">{{book.author}}</p>
        </div>
        <div class="card-footer d-grid gap-2">
          <a href="book/{{book.id}}" class="btn btn-secondary">
          More Info
          <i class="bi bi-info-circle mx-1"></i>
          </a>
          <a href="book/{{book.id}}" class="btn btn-secondary">
          Add to Cart
          <i class="bi bi-cart"></i>
          </a>
        </div>

      </div>
      {{/each}}
    </div>
  </div>

{{!-- INVISIBLE ROW --}}
  <div class="row more-cards d-none">
    <div class="card-group">
      {{#each (slice books 4 8) as |book|}}

      <div class="card mx-1">
        <img src="https://via.placeholder.com/300" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{book.book_name}}</h5>
          <p class="card-text">{{book.author}}</p>
        </div>
        <div class="card-footer d-grid gap-2">
          <a href="book/{{book.id}}" class="btn btn-secondary">
          More Info
          <i class="bi bi-info-circle mx-1"></i>
          </a>
          <a href="book/{{book.id}}" class="btn btn-secondary">
          Add to Cart
          <i class="bi bi-cart"></i>
          </a>
        </div>

      </div>
      {{/each}}
    </div>
  </div>
</div>


</div>
<div class="text-center mt-4">
  <button id="show-more-btn" class="btn btn-secondary">Toggle More</button>
</div>
</div>